body {
  background-color: red;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: green;
  margin-bottom: 1%;
}

a {
  text-decoration: none;
}

.display {
  display: flex;
  justify-content: space-around;
  height: 500px;
}

.player-one {
  display: inline-block;
  background-color: green;
  width: 30%;
  text-align: center;
}

.player-two {
  display: inline-block;
  background-color: grey;
  width: 30%;
  text-align: center;
}

#roll-dice,
#reset-btn,
#pass-btn {
  padding: 20px 50px;
  font-size: 30px;
  font-weight: 900;
}

#dice-display,
#dice-display-two {
  font-size: 100px;
  margin: 0;
}

.controls {
  text-align: center;
}

.player-one-score,
.player-two-score {
  font-size: 40px;
}
