* {
  box-sizing: border-box;
  background-color: green;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

h1 {
  font-size: 80px;
}

.btn {
  padding: 20px 0;
  width: 80%;
  text-decoration: none;
  font-weight: 900;
  font-size: 60px;
  display: inline-block;
  margin-bottom: 20px;
}

.red {
  background-color: hsl(347, 100%, 25%);
  color: hsl(0, 0%, 0%);
  border-top: 2px solid hsl(0, 0%, 0%);
  border-bottom: 2px solid hsl(0, 0%, 0%);
}

.red:hover {
  color: hsl(347, 100%, 25%);
  background-color: hsl(0, 0%, 0%);
  border-top: 2px solid hsl(347, 100%, 25%);
  border-bottom: 2px solid hsl(347, 100%, 25%);
}

.black {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  border-top: 2px solid hsl(0, 0%, 100%);
  border-bottom: 2px solid hsl(0, 0%, 100%);
}

.black:hover {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  border-top: 2px solid hsl(0, 0%, 0%);
  border-bottom: 2px solid hsl(0, 0%, 0%);
}

a::first-letter {
  text-transform: uppercase;
}
